<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="MyConnStr" connectionString="Data Source = DESKTOP-F4SBBNF\SQLEXPRESS;Initial Catalog = BookShopPublisher; Integrated Security = True;"/>
  </connectionStrings>
</configuration>